[Unit]
Description=Process Monitoring and Management
After=network.target
 
[Service]
User=root
Group=root
WorkingDirectory=/usr/local/process_watch
ExecStart=/usr/bin/python3 /usr/local/process_watch/process_watch.py
 
[Install]
WantedBy=multi-user.target
